<!-- wp:heading {"level":1} -->
<h1>google-drive</h1>
<!-- /wp:heading -->
<!-- wp:html -->
<iframe style="height: 500px" src="https://drive.google.com/file/d/1wqCuBQHKoaxTHlvAOIShEpv90RXXXfek/preview"></iframe>
<!-- /wp:html -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img src="[images]drive-32.png">
</figure>
<!-- /wp:image -->
<!-- wp:html -->
<iframe style="height: 500px" src="https://docs.google.com/document/d/1Q0LOHy6wpHJU2rMHE1O0cu7bS4XyG33IYJvWPizxwqk/preview"></iframe>
<!-- /wp:html -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img src="[images]docs_32dp.png">
</figure>
<!-- /wp:image -->
