<!-- wp:heading {"level":1} -->
<h1>google-docs</h1>
<!-- /wp:heading -->
<!-- wp:html -->
<iframe style="height: 500px" src="https://docs.google.com/document/d/1Q0LOHy6wpHJU2rMHE1O0cu7bS4XyG33IYJvWPizxwqk/preview"></iframe>
<!-- /wp:html -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img src="[images]docs_32dp.png">
</figure>
<!-- /wp:image -->
<!-- wp:html -->
<iframe style="height: 500px" src="https://docs.google.com/spreadsheets/d/1n0Dj0j9ogLYIq8anrfiXMBzFUkI1vkJY43Wg94xUgnw/htmlembed"></iframe>
<!-- /wp:html -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img src="[images]sheets_32dp.png">
</figure>
<!-- /wp:image -->
<!-- wp:html -->
<iframe style="height: 500px" src="https://docs.google.com/presentation/d/1_wjpviWPKc0-jgSqoTodcklZt4Jma1-ZhnYITO4q-sQ/embed"></iframe>
<!-- /wp:html -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img src="[images]slides_32dp.png">
</figure>
<!-- /wp:image -->
