<!-- wp:heading {"level":1} -->
<h1>links</h1>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>This link goes to <span><a href="[pages]view-dunetna-testing-site-images">images page</a></span> and this other one to <span><a href="[pages]view-dunetna-testing-site-videos">videos page</a></span>.</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph -->
<p>This link goes to an external link: <span><a href="https://xnet.net">https://xnet.net</a></span> and this other one <span><a href="https://xnet.net">to the same place</a></span></p>
<!-- /wp:paragraph -->
<!-- wp:paragraph -->
<p>A more <span><a href="https://search.debian.org/cgi-bin/omega?DB=ca&amp;P=gfd">complex link</a></span></p>
<!-- /wp:paragraph -->
