<!-- wp:heading {"level":1} -->
<h1>lists</h1>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>Simple ordered list:</p>
<!-- /wp:paragraph -->
<!-- wp:list {"ordered":true} -->
<ol><li><p>Item 1</p></li><li><p>Item 2</p></li><li><p>Item 3</p></li></ol>
<!-- /wp:list -->
<!-- wp:paragraph -->
<p>Simple unordered list:</p>
<!-- /wp:paragraph -->
<!-- wp:list -->
<ul><li><p>Item 1</p></li><li><p>Item2 </p></li><li><p>Item3</p></li></ul>
<!-- /wp:list -->
<!-- wp:paragraph -->
<p>Ordered nested list:</p>
<!-- /wp:paragraph -->
<!-- wp:list {"ordered":true} -->
<ol><li><p>Item 1</p></li><li><p>Item 2</p><ol><li><p>Item 2.1</p></li><li><p>Item 2.2</p></li></ol></li><li><p>Item 3</p><ol><li><p>Item 3.1</p></li><li><p>Item 3.2</p></li></ol></li></ol>
<!-- /wp:list -->
<!-- wp:paragraph -->
<p>Unordered nested list:</p>
<!-- /wp:paragraph -->
<!-- wp:list -->
<ul><li><p>Item 1</p><ul><li><p>Item a</p></li><li><p>Item b</p></li></ul></li><li><p>Item 2</p></li><li><p>Item 3</p><ul><li><p>Item c</p></li><li><p>Item d</p></li></ul></li></ul>
<!-- /wp:list -->
<!-- wp:paragraph -->
<p>Mixed nested list:</p>
<!-- /wp:paragraph -->
<!-- wp:list {"ordered":true} -->
<ol><li><p>Item 1</p><ul><li><p>Item a</p></li><li><p>Item b</p></li></ul></li><li><p>Item 2</p></li><li><p>Item 3</p><ul><li><p>Item c</p></li><li><p>Item d</p></li></ul></li></ol>
<!-- /wp:list -->
<!-- wp:paragraph -->
<p>Mixed complex nested list:</p>
<!-- /wp:paragraph -->
<!-- wp:list {"ordered":true} -->
<ol><li><p>Item 1: this is text</p></li><li><p>Item 2: more text</p><ul><li><p>Item a:</p><ul><li><p>Item x</p></li><li><p>Item y</p></li><li><p>Item z</p></li></ul></li><li><p>Item b:</p><ul><li><p>Item i</p></li><li><p>Item j</p></li><li><p>Item k</p></li></ul></li><li><p>Item c</p></li><li><p>Item d</p></li><li><p>Item e</p><ul><li><p>Item m</p></li></ul></li><li><p>Item f</p><ul><li><p>Item n</p></li></ul></li></ul></li></ol>
<!-- /wp:list -->
