<!-- wp:heading {"level":1} -->
<h1>Testing page</h1>
<!-- /wp:heading -->
<!-- wp:heading {"level":1} -->
<h1><div>Title</div></h1>
<!-- /wp:heading -->
<!-- wp:heading -->
<h2><div>Heading</div></h2>
<!-- /wp:heading -->
<!-- wp:heading {"level":3} -->
<h3><div>Subheading</div></h3>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>Normal text</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph -->
<p>Normal text with some inline marked text: <span><strong>bold</strong></span>, <em>italic</em>, <span>underline</span>, <span>text in red</span></p>
<!-- /wp:paragraph -->
<!-- wp:paragraph -->
<p><span>Text with a</span><span><a href="https://gitlab.com/digitaldemocratic/digitaldemocratic"> link</a></span><span>.</span></p>
<!-- /wp:paragraph -->
